{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}
{% block content %}
<h1>Players</h1>
    <table>
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Position</th>
                <th>ADP</th>
            </tr>
        </thead>
        {% for p in collection %}
        <tr>
            <td>{{p.name}}</td>
            <td>{{p.position}}</td>
            <td>{{p.adp}}</td>
            <td><button type="button">Draft Player</button></td>
        </tr>
{% endfor %}
</table>

{% endblock %}