{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>Draft: {{ draft.name }} </h1>
            </br>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Player Name</th>
                            <th>Position</th>
                            <th>ADP</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dp in draft_players %}
                            <tr>
                                <td>{{ dp.player.name }}</td>
                                <td>{{ dp.player.position }}</td>
                                <td>{{ dp.player.adp }}</td>
                                <td>
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="player" value="{{ dp.player.id }}">
                                        <input type="hidden" name="team" value="{{ draft.team.first.id }}">
                                        <button type="submit" class="btn btn-secondary" onclick="return confirm('Are you sure you want to draft this player?');">Draft</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <h1>Team</h1>
                <ul>
                    {% for dp in user_team %}
                        <li>{{ dp.player.name }} - Pick {{ dp.pick }}</li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>
{% endblock %}